asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.4
django-crispy-forms==2.1
django-multiupload==0.6.1
idna==3.7
pillow==10.3.0
pyTelegramBotAPI==4.18.1
requests==2.32.2
sqlparse==0.4.4
urllib3==2.2.1
