{% extends 'base.html' %}
{% block title %}Добавить товар{% endblock %}
{% block classheader %}header-my-two{% endblock %}
{% block colorone %}black{% endblock %}
{% block brand %}brand2{% endblock %}
{% block colortwo %}black{% endblock %}
{% block content %}
<h2 class="text-h" style="text-align:center; margin-top:20px;">Пополнение товара</h2>

<div class="container card shadow p-3 mb-5 bg-body rounded" style="margin-top:40px;">
    <form method="post" enctype="multipart/form-data" id="product_form" style="padding:20px;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_name" class="form-label text-style-form">Name</label>
            <input type="text" class="form-control" required id="id_name" maxlength="255" name="name">
        </div>
        <div class="mb-3">
            <label for="id_description" class="form-label text-style-form">Description</label>
            <textarea class="form-control" name="description" id="id_description" required>{{ description }}</textarea>
        </div>
        <div class="mb-3">
            <label for="id_price" class="form-label text-style-form">Price</label>
            <input type="number" class="form-control" step="0.01" name="price" required id="id_price">
        </div>

        <div id="images_container" style="margin:10px;">
            <input type="file" name="product_images" accept="image/*" multiple>
        </div>

        <button class="btn btn-outline-dark" style="margin:10px;" type="button" id="add_image_field"><i class="fa-solid fa-plus"></i></button>

        <input class="btn btn-outline-success" type="submit" value="Добавить товар">
    </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var imagesContainer = document.getElementById("images_container");
    var addButton = document.getElementById("add_image_field");
    addButton.addEventListener("click", function() {
        var newInput = document.createElement("input");
        newInput.type = "file";
        newInput.name = "product_images";
        newInput.accept = "image/*";
        newInput.multiple = true;
        imagesContainer.appendChild(newInput);
    });
});
</script>
{% endblock %}
