{% extends 'base.html' %}
{% block title %}Добавить товар{% endblock %}
{% block content %}
 <!-- template.html -->
<form method="post" enctype="multipart/form-data" id="product_form">
    {% csrf_token %}
    {{ product_form.as_p }}

    <div id="images_container">
        <input type="file" name="product_images" accept="image/*" multiple>
    </div>

    <button type="button" id="add_image_field">Добавить еще одно изображение</button>

    <input type="submit" value="Добавить товар">
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var imagesContainer = document.getElementById("images_container");
    var addButton = document.getElementById("add_image_field");
    addButton.addEventListener("click", function() {
        var newInput = document.createElement("input");
        newInput.type = "file";
        newInput.name = "product_images";
        newInput.accept = "image/*";
        newInput.multiple = true;
        imagesContainer.appendChild(newInput);
    });
});
</script>


{% endblock %}