


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jacquard+24&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Great+Vibes&family=Jacquard+24&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.panel-font{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;

}


.my_brand_{
    text-decoration:none;

}

.text-detail-name{
    font-family: "Playfair Display", serif;
    color:#947962;

}




.brand{
    font-family: "Luxurious Roman", serif;
    font-weight:400;
    font-style:normal;
    color:#F1ECE9;

}
.brand2{
    font-family: "Luxurious Roman", serif;
    font-weight:400;
    font-style:normal;
    color:black;

}

.text{
    color:black;
    font-size:25px;
    font-family: "Great Vibes", cursive;
}


.text-h{
    color:black;
    font-family:"Great Vibes", cursive;

}

.margin_ot_h{
    margin-top:30px;

}

.text-product-Vibes{
    color:black;
    font-size:22px;
    font-family: "Playfair Display", serif;
    color:#947962;


}

.text-style-form{
    font-family: "Playfair Display", serif;
}

.price{
    font-size:24px;
    font-family: "Noto Serif TC", serif;
}

.center{
    text-align: center;
}
.container11 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Вы можете настроить высоту в зависимости от ваших потребностей */
}
.container1 {
  position: relative;
  width: 25%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
}

.image {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.button {
  display: block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}
.shop{
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.image-for-card{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/*Btn menu*/
.pad{
  margin-top: 10px;
  margin-left: 10px;
}
/*for detail*/
.img-container-detail{
  margin: 30px;
  border: #fb0000 solid 5px;
  border-radius: 25% 10%;
}

.description{
  float: right;
}

.overlay-details{
  display:none;
}
.centered-div {
  margin-left: auto;
  margin-right: auto;
}



/*cabinet*/
.card-custom-border-dark{
    width: 50%;
    background-color: white;
    border: black solid 2px;
}

.mess-in-red{
  background-color: red;
}



/*header position: fixed;*/
.header-my {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Полупрозрачный фон */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для разделения header от контента */
    z-index: 1000; /* Убедитесь, что header выше других элементов */
}
.header-my-two{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


header h1 {
    margin: 0;
    padding: 10px 20px;
}

header nav {
    padding: 10px 20px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

.site-header{
	color: var(--BgColor);
	width: 100%;
	/*background-color: var(--GeneralColor);rgba(255, 255, 255, 0.7);*/
	background-color: transparent;
	height: 80px;
	/*opacity: 0.25;*/

}

.hero-image {
    width: 100%;
    height: auto;
    display: block;
}

.image-containerr {
    width: 100vw;
    height: 779px;
    overflow: hidden;
    position: relative;
}
.image-containerr img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-containerr .overlay-text {
    position: absolute;
    font-family:"Great Vibes", cursive;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -50%);
    text-align:left;
    color: white;
    font-size: 2.5em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}


.overlayy {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlayy a {
    margin: 5px;
}

