{% extends 'base.html' %}
{% load static %}
{% block title %}Панель{% endblock %}
{% block content %}

<h2 class="text-h" style="text-align:center; margin-top:20px;">Админ панель</h2>

<div class="container card shadow p-3 mb-5 bg-body rounded" style="margin-top:30px;">
    <div class="d-grid gap-2">
        <a class="btn btn-outline-dark" type="button" href="{% url 'shop:order' %}" style="margin-bottom:10px; margin-top:10px;"><i class="bi bi-list-ul"></i><span>Заказы</span></a>
        <a class="btn btn-outline-dark" type="button" href="{% url 'shop:add_product' %}" style="margin-bottom:10px;"><i class="fa-solid fa-plus"></i>Пополнить товары</a>
        <a class="btn btn-outline-dark" type="button" href="#" style="margin-bottom:10px;"><i class="fa-solid fa-users"></i>  Пользователи</a>
        <a class="btn btn-outline-dark" type="button" href="#" style="margin-bottom:10px;">Админ панель</a>
        <a class="btn btn-outline-dark" type="button" href="#" style="margin-bottom:10px;">Админ панель</a>


    </div>
</div>


{% endblock %}