{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}

    <div class="container" style="margin-top:30px;">
        <div class="card">
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for image in product_images %}
            <div class="col">
                <img class="img-thumbnail" src="{{ image.product_images.url }}" height="300" width="300">
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
<a class="btn btn-primary m-3" href='{% url "shop:subscribe_product" product.id user.username %}' type="button">Подписаться</a>
<a class="btn btn-primary m-3" href='{% url "shop:delete_product" product.id%}' type="button">Удалить</a>
<a class="btn btn-primary m-3" href='{% url "shop:edit_product" product.id%}' type="button">Редактировать</a>

<script>
</script>
{% endblock %}    