{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <!--Logo-->
        <div style="margin-top:50px;">
        <div class="container11">
            <a href="https://project8930147.tilda.ws/">
                <img src="{% static 'image/noBack.png' %}">
            </a>
        </div>
        <div class="center">
            <p class="text">Ваш стиль - наша сумка: непревзойденное качество и безупречный стиль,<br> создавайте историю моды вместе с нами!</p>
        </div>
    </div>

    <!--Items-->
    <div class="container" id="shop" style="margin-top: 50px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            {% for item in products %}
            <div class="col">
                <div class="card border-dark shadow p-3 mb-5 bg-body rounded">
                <div class="image-container">
                    <img src="{{ item.images.first.product_images.url }}" alt="Product" class="image" id="animatedImage" height="400" width="400">
                    <div class="overlay" id="overlay">
                        

                        <a type="button" class="btn btn-light" id="button1" href="{% url 'shop:detail' item.id %}">Детально</a>
                        <a type="button" class="btn btn-light mt-1" id="button2" href="{% url 'shop:add_to_cart' item.id %}">В корзину</a>

                        
                    </div>
                    </div>
                    <div style="text-align: center;">
                      <p>{{ item.name }}</p>
                      <p>{{ item.price }}&#8376; </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}