{% extends 'base.html' %}
{% load static %}
{% block title %}Заказ {{ order.id }}{% endblock %}
{% block classheader %}header-my-two{% endblock %}
{% block colorone %}black{% endblock %}
{% block brand %}brand2{% endblock %}
{% block colortwo %}black{% endblock %}
{% block content %}

<div style="margin-top:50px">
{% for item in order_det.items.all %}
    {% if item.product.name %}
            <div class="card">
                <img src="{{ item.product.images.first.product_images.url }}" width="50px" height="50px">
                <div class="card-body">
                    <h2>{{ item.product.name }}</h2>

                </div>

            </div>

    {% else %}
        <h1> Пусто</h1>

    {% endif %}
{% endfor %}
    <h1>{{ order_det.total_price }}</h1>
</div>


{% endblock %}